<div class="createschedule-230-10" name="Createschedule">
 <div class="group-230-343" name="Group">
  <div class="group-230-344" name="Group">
   <div class="group-230-345" name="Group">
   </div>
   <div class="group-230-280" name="Group">
    <input name="radio_btn_name-230-280" type="radio"/>
    <label class="radio_btn_label-230-286" for="html">
     Cmc1_test
    </label>
    <input name="radio_btn_name-230-280" type="radio"/>
    <label class="radio_btn_label-230-292" for="html">
     Cmc3_test
    </label>
    <input name="radio_btn_name-230-280" type="radio"/>
    <label class="radio_btn_label-230-298" for="html">
     Cmc4_test
    </label>
    <input name="radio_btn_name-230-280" type="radio"/>
    <label class="radio_btn_label-236-6" for="html">
     Cmc4_test
    </label>
    <input name="radio_btn_name-230-280" type="radio"/>
    <label class="radio_btn_label-236-16" for="html">
     Cmc4_test
    </label>
    <input name="radio_btn_name-230-280" type="radio"/>
    <label class="radio_btn_label-236-47" for="html">
     Cmc4_test
    </label>
   </div>
   <div class="group-230-497" name="Group">
    <div class="group-230-346" name="Group">
    </div>
    <label class="text-230-498" type="text" value="Scheduling Variables">
     Scheduling Variables
    </label>
    <img class="vector-230-499" src="assets/images/Modules/createschedule/vector-230_499.svg"/>
   </div>
  </div>
  <img class="vector-230-504" src="assets/images/Modules/createschedule/vector-230_504.svg"/>
 </div>
 <div class="group-248-2" name="Group">
  <div class="group-248-3" name="Group">
  </div>
  <div class="group-248-4" name="Group">
   <input name="radio_btn_name-248-4" type="radio"/>
   <label class="radio_btn_label-248-10" for="html">
    TRADITIONAL
   </label>
   <input name="radio_btn_name-248-4" type="radio"/>
   <label class="radio_btn_label-248-16" for="html">
    HYBRID
   </label>
   <input name="radio_btn_name-248-4" type="radio"/>
   <label class="radio_btn_label-248-22" for="html">
    OPTIMAL
   </label>
  </div>
 </div>
</div>
