

.createschedule-230-10{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-230-343{
position:absolute ;width: 1038.0px; height: 304.0px;  background-color: rgba(0,0,0,0.0);top:351px; left: calc( ( ( 100% - 1440px) / 2 ) + 274px);background:''}

.group-230-344{
position:absolute ;width: 1038.0px; height: 304.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-230-345{
position:absolute ;width: 1038.0px; height: 304.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.group-230-280{
position:absolute ;width: 221.0px; height: 70.0px;  background-color: rgba(0,0,0,0.0);top:92px; left: 109px;background:''}

.radio_btn_label-230-286{
font-size: 12.0px;
}

.radio_btn_label-230-292{
font-size: 12.0px;
}

.radio_btn_label-230-298{
font-size: 12.0px;
}

.radio_btn_label-236-6{
font-size: 12.0px;
}

.radio_btn_label-236-16{
font-size: 12.0px;
}

.radio_btn_label-236-47{
font-size: 12.0px;
}

.group-230-497{
position:absolute ;width: 1038.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-230-346{
position:absolute ;width: 1038.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.text-230-498{
position: absolute;
left: 55.0px;
 top: 14.0px;
 width: 201.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-230-499{
position: absolute;left: 12.0px; top: 7.0px; width: 30.0px; height: 30.0}

.vector-230-504{
position: absolute;left: 993.0px; top: 12.0px; width: 20.0px; height: 20.0}

.group-248-2{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:710px; left: calc( ( ( 100% - 1440px) / 2 ) + 251px);background:''}

.group-248-3{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-248-4{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.radio_btn_label-248-10{
font-size: 14.0px;
}

.radio_btn_label-248-16{
font-size: 14.0px;
}

.radio_btn_label-248-22{
font-size: 14.0px;
}